.image {
    position	: relative;
    width		: 100%; /* for IE 6 */
}

.text {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    color: black;
    z-index: 99;
}

.closed {
    position: absolute;
    top: 40px;
    right: 10px;
    width: auto;
    color: black;
    z-index: 99;
}

.photo_cover {
    height: 250px;
    object-fit: cover;
}

.shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);;
}
